name: Build and test the engine

on:
  push:
    branches-ignore:
      - main
  workflow_call:

env:
  DOTNET_VERSION: 10.x

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Install dependencies
        run: dotnet restore -r linux-x64
      - name: Build
        run: dotnet build -v=q --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --logger trx --results-directory TestResults --verbosity normal
      - name: Check Test File Exists
        if: success() || failure()
        id: hasTests
        run: |
          if compgen -G "TestResults/*.trx" > /dev/null; then
            hasTest=true
          else
            hasTest=false
          fi
          echo "hasTests=$hasTest" >> $GITHUB_OUTPUT
      - name: Test Reporter
        if: ${{ steps.hasTests.outputs.hasTests == 'true' }}
        uses: phoenix-actions/test-reporting@v10
        with:
          name: ${{github.repository}} Test Results
          path: TestResults/*.trx
          reporter: dotnet-trx
          output-to: step-summary
