name: Publish, and release Aesir.Hermod

on:
  workflow_dispatch:
    inputs:
      semver:
        description: "How would you bump the version (semver)? (e.g. major, minor, patch)"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
  pull_request:
    branches: [main]
    types: [closed]

env:
  NUGET_ENABLE_LEGACY_CSPROJ_PACK: true
  DOTNET_VERSION: 9.x

jobs:
  bump-version:
    uses: ./.github/workflows/bump-version.yml
    secrets: inherit
    with:
      semver: ${{ inputs.semver }}

  build-and-test:
    uses: ./.github/workflows/build.yml

  release:
    needs: [build-and-test, bump-version]
    env:
      BUILD_CONFIG: "Release"
      SOLUTION: "Aesir.Hermod.sln"
    runs-on: ubuntu-latest

    steps:
      # get the code setup the build
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: |
          dotnet restore -r linux-x64 Aesir.Hermod/Aesir.Hermod.csproj

      - name: Build
        run: |
          dotnet build -v=q Aesir.Hermod/Aesir.Hermod.csproj \
            -c Release \
            /p:Version=${{needs.bump-version.outputs.new_version}} \
            /p:PackageVersion=${{needs.bump-version.outputs.new_version}} \
            --no-build \
            --no-restore

      - name: Test
        run: |
          dotnet test Aesir.Hermod/Aesir.Hermod.csproj \
            -c Release \
            /p:Version=${{needs.bump-version.outputs.new_version}} \
            /p:PackageVersion=${{needs.bump-version.outputs.new_version}} \
            --no-build \
            --no-restore

      # Package the build into a single nupkg
      - name: Pack
        run: |
          dotnet pack \
            Aesir.Hermod/Aesir.Hermod.csproj \
            -o . \
            --include-symbols \
            -c Release \
            /p:Version=${{needs.bump-version.outputs.new_version}} \
            /p:PackageVersion=${{needs.bump-version.outputs.new_version}} \
            --no-build \
            --no-restore

      # Push to our repo
      - name: Push
        env:
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: |
          dotnet nuget push Aesir.Hermod.${{needs.bump-version.outputs.new_version}}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${NUGET_TOKEN}

  create-new-github-release:
    needs: [release, bump-version]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4
      - name: Push New Tag (temp manual because actions-ecosystem/action-push-tag@v1 is broken)
        run: |
          message='${{needs.bump-version.outputs.new_version_with_v}}: Sha #${{ github.sha }}'
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git tag -a "${{needs.bump-version.outputs.new_version_with_v}}" -m "${message}"
          git push origin "${{needs.bump-version.outputs.new_version_with_v}}"
          gh release create --generate-notes "${{needs.bump-version.outputs.new_version_with_v}}"

      - name: Add release summary
        run: |
          echo '### New version released! :rocket:' >> $GITHUB_STEP_SUMMARY
          echo 'Version number: ${{needs.bump-version.outputs.new_version_with_v}}' >> $GITHUB_STEP_SUMMARY
